h1
{color: rgb(0, 60, 255);}
.speech 
{font-family: Arial, sans-serif;font-size: medium;color: black;}
.direction 
{font-family: "Courier";font-size: x-small;color: black;}
.direction:hover 
{background-color: aqua;color: white;}
.OLGA
{color: aqua;}
.IRINA 
{color: rgb(239, 211, 247);}
.CHEBUTIKIN 
{color: blue;}
.TUZENBACH 
{color: blanchedalmond;}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th,td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
.IRINA:hover{
    text-shadow: 1px 1px 5px red;
  }

  ul li {
    border: 2px solid #282524;
    text-align: center;
    width: 25%;
    background-color: #1172a6;
    list-style: none;
    border-radius: 4px;
    position: relative;
}

ul li a {
    display: block;
    text-decoration: none;
    color: rgb(25, 24, 23);
    font-weight: 600;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px 10px 10px 40px;
}

ul li.theater::before {
    content: ''; 
    position: absolute;
    left: 10px;
    top: 50%; 
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url('movie-theater.png');
    background-size: cover;
}

ul li.winter::before {
    content: ''; 
    position: absolute;
    left: 10px;
    top: 50%; 
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-image: url('snowball.png');
    background-size: cover;
}

ul li:hover a {
    text-decoration: none;
    color: #0fe15c;
}

ul li:hover {
    background-color: rgba(232, 207, 16, 0);  
}
