h1
{color: rgb(0, 60, 255);}
.speech 
{font-family: Arial, sans-serif;font-size: medium;color: black;}
.direction 
{font-family: "Courier";font-size: x-small;color: black;}
.direction:hover 
{background-color: aqua;color: white;}
.OLGA
{color: aqua;}
.IRINA 
{color: rgb(239, 211, 247);}
.CHEBUTIKIN 
{color: blue;}
.TUZENBACH 
{color: blanchedalmond;}

